@keyframes moving {
    0% {
        transform: translateY(20px);
    }
    20% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(-40px);
    }
}

* {
    margin: 0;
}

.top {
    height: 40px;
    width: 100%;
    background: linear-gradient(
        to right,
        #f487b1 0%,
        #ffae5c 50%,
        #f487b1 100%
    );

    display: flex;
    align-items: center;
}

.logo {
    color: black;
    font-weight: 540;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    margin-left: 189px;
    white-space: nowrap;
    animation-name: moving;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-iteration-count: infinite;

}
.logo:hover {
    color: white;
}

.services {
    margin-left: auto;
    margin-right: 190px;
}

.services ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.services li {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 0 13px;
    border-right: 1px solid black;
    height: 22px;
    font-weight: 10;
}
.services li:hover {
    color: white;
}

.services li:last-child {
    border-right: none;
}

.services li i {
    font-size: 16px;
    margin-right: 7px;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-size: 18px;
    font-weight: normal;
    margin-right: 7px;
}
.nav {
    height: 72px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eeeeee;
    position: relative;
    background-color: white;
}

.nykaa img {
    height: 86px;
    width: 86px;
    position: absolute;
    top: -3px;
    left: 180px;
}

.services1 {
    margin-left: 270px;
}

.services1 ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.services1 li {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 0 20px;
    height: 61103660px;
    font-weight: 350;
}

.services1 li:hover {
    color: #e80071;
}

.search {
    margin-left: auto;
    margin-right: 325px;
}

.search input {
    width: 250px;
    height: 42px;
    border: none;
    background-color: #f5f5f5;
    border-radius: 4px;
    padding-left: 45px;
    font-size: 14px;
}

.search {
    display: flex;
    align-items: center;
    position: relative;
}

.search i {
    position: absolute;
    left: 15px;
    color: #777;
}

.search input {
    width: 250px;
    height: 42px;
    padding-left: 45px;
}
.sign-in button{
    height:40px;
    width:80px;
    background-color: #e80071;
    color:#f5f5f5;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    position:absolute;
    right: 230px;
    top:16px;
    
}
.shopping_bag {
    position:absolute;
    right: 150px;
    top:23px;
}
.categories {
    height: 55px;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    background-color: white;
}

.categories ul {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666675;
    font-size: 15px;
}

.categories li {
    white-space: nowrap;
}

.categories li:hover {
    color: #e80071;
}

.categories .offers {
    color: white;
    background-color: #e80071;
    padding: 5px 18px;
    border-radius: 50%;
    font-weight: bold;
}
